autopep8
bandit
beautifulsoup4
black
flake8
github3.py
ipdb
ipython
isodate
isort
lxml
mypy
mysqlclient
nodeenv
numpy
openpyxl
pastel
pep8
pip-review
pipenv
poetry
pre-commit
prettyconf
pycodestyle
pydantic
pydocstyle
pyflakes
pyjwt
pylama
pylint
pymongo
pynvim
pytest
python-dateutil
pytz
pyyaml
requests
sslyze
types-requests
unidecode
visidata
websocket-client
websockets
xlsxwriter
xmltodict
